// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-index-body{
	background-color :#EEEEEE;
	width :100%;
	height: 460px;
}

.user-show-body{
	background-color :#EEEEEE;
	width :100%;
	height: 550px;
}

.profile_buttons_space{
	padding-top: 50px;
}

.introduction-space{
	text-align :center;
}

.profile_introduction{
	display: inline-block
}

.profile_introduction{
	display: inline-block
}



.button_areas{
	display: inline-block;
	width: 150px;
	margin-right: 40px;
	margin-left: 40px;
}

@media screen and (max-width:425px) {
  .button_areas{
  padding-bottom: 20px;
  margin-right: 0px;
  display: block;
  margin: 0 auto;
}
}



