// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-index-body{
	background-color :#EEEEEE;
	width :100%;
	min-height: calc(100vh - 50px);
}

.user-show-body{
	background-color :#EEEEEE;
	width :100%;
	min-height: calc(100vh - 50px);
}

.profile-page{
	background-color :#EEEEEE;
	width :100%;
	min-height: calc(100vh - 50px);
	padding-top: 10px;
	padding-bottom: 30px;
}

.profile_buttons_space{
	padding-top: 50px;
}

.introduction-space{
	text-align :center;
}

.profile_introduction{
	display: inline-block;
	margin-left: 10px;
	width: 520px;
}

.profile_picture{
	display: inline-block;
	margin-right: 100px;
}

.destroy-button{
	margin-right: 50px;
}


.button_areas{
	display: inline-block;
	width: 150px;
	margin-right: 40px;
	margin-left: 40px;
}

.withdrawal{
	padding-top: 0px;
}
.withdrawal_button{
	width: 150px;
}


@media screen and (max-width:425px) {
  .button_areas{
  padding-bottom: 20px;
  margin-right: 0px;
  display: block;
  margin: 0 auto;
}

.profile_introduction{
	width: 250px;
	margin: 0 auto;
}

.profile_picture{
	margin: 0 auto;
}

.withdrawal{
	padding-top: 35px;
}
}



